Garbagemanage/Garbagemanage/Resources/*
Garbagemanage/packages/*
*.dll
*.xml
*.pak
*/bin/*
*/.vs/*
/Garbagemanage/Garbagemanage/obj/*
*/obj/*
.vs
*.nupkg
*.pdb
Garbagemanage/SCWM_Setup/*
Garbagemanage/Garbagemanage/bin/Debug/DawnCache/*
*.log
*.exe
 Garbagemanage/Garbagemanage/bin/Debug/GPUCache/*